$white: #ffffff;
.white { color: $white; }
.bg-white { background-color: $white; }

$gray: #f1f1f1;
.gray { color: $gray; }
.bg-gray { background-color: $gray; }

$black: #111111;
.black { color: $black; }
.bg-black { background-color: $black; }