// Globals
html, body {
    height: 100%;
}

// Sticky footer
$footerHeight: 160px;

.wrapper {
  min-height: 100%;
  margin-bottom: -$footerHeight; 
    &:after {
        content: "";
        display: block;
    }
}

.footer, .wrapper:after {
  height: $footerHeight;
}

// Navigation
.navbar {
    position: relative;
    z-index: 999999;
    border: 0px;

    .container {
        padding-top: 10px;
    }
}
.navbar-default {
    height: 69px;
    border-bottom: 1px solid #f1f1f1;
    background-color: $white;

    .navbar-nav {
        > .menu-item  {
            padding-left: 15px;
            padding-right: 15px;

            > a {
                padding-left: 0;
                padding-right: 0;
                padding-bottom: 0;
                color: $black;
                font-size: 18px;
                text-align: center;
                text-transform: uppercase;
                @media (max-width: 768px) {
                    padding-top: 10px;
                    padding-bottom: 10px;
                }

                // Handles the border hover effect
                @media (min-width: 768px) {
                    &:hover {
                        padding-bottom: 10px;
                        border-bottom-style: solid;
                        border-bottom-width: 3px;
                        border-bottom-color: $black;
                        text-decoration: none;
                        @include transition-property(all);
                        @include transition-duration(.25s);
                        @include animation-timing-function(ease-in-out);
                    }
                }
            }
        }
    }

    .navbar-toggle {
        margin-top: 0;
        margin-bottom: 0;
        border: 0px;
        font-size: 24px;
        &:hover, &:focus, &:active {
            background-color: transparent;
        }
    }

    .navbar-collapse {
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: $white;
        border-color: transparent;
    }
}

.navbar-brand {
    max-width: 170px;
    > img {
        width: 100%;
    }
}

// Footer
.footer {
    height: $footerHeight;
    padding-top: 50px;
    background-color: $black;
    text-align: center;
    h5 {
        color: $white;
    }
}

// Content
.content {
    margin-top: 25px;
    margin-bottom: 25px;


    img.size-full {
        max-width: 100%;
        height: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.aligncenter {
    margin: 0 auto;
    text-align: center;
}

input.form-control, button.btn-default {
    border-radius: 0px;
}
